* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'matrice', sans-serif;
}

html {
  font-size: 10px;
  color: #3C3C3C;
  cursor: none;
  font-family: 'matrice', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #f5e8da;
  background-size: cover;
  cursor: none;
  font-family: 'matrice', sans-serif;
}

a {
  font-size: 1.6rem;
  font-weight: 300;
  list-style: none;
  color: #3C3C3C;
  text-decoration: none;
  font-family: 'matrice', sans-serif;
}

ul {
  list-style: none;
  font-family: 'matrice', sans-serif;
}

p {
  font-size: 1.3rem;
  font-weight: 350;
  color: #3C3C3C;
  font-family: 'matrice', sans-serif;
}

h1 {
  font-family: 'matrice', sans-serif;
}

h2 {
  font-family: 'matrice', sans-serif;
}

h3 {
  font-family: 'matrice', sans-serif;
}

@font-face {
  src: url("../fonts-matrice/matrice_black-webfont.woff") format("woff"), url("../fonts-matrice/matrice_black-webfont.woff2") format("woff2");
  font-family: 'matriceblack';
  font-weight: bold;
  font-style: black;
}

@font-face {
  src: url("../fonts-matrice/matrice-font-kit/matrice_bold-webfont.woff") format("woff"), url("../fonts-matrice/matrice-font-kit/matrice_bold-webfont.woff2") format("woff2");
  font-family: 'matricebold';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url("../fonts-matrice/matrice-font-kit/matrice_extrabold-webfont.woff") format("woff"), url("../fonts-matrice/matrice-font-kit/matrice_extrabold-webfont.woff2") format("woff2");
  font-family: 'matriceextrabold';
  font-weight: bold;
  font-style: extrabold;
}

@font-face {
  src: url("../fonts-matrice/matrice-font-kit/matrice_regular_italic-webfont.woff") format("woff"), url("../fonts-matrice/matrice-font-kit/matrice_regular_italic-webfont.woff2") format("woff2");
  font-family: 'matriceregular_italic';
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("../fonts-matrice/matrice-font-kit/matrice_regular-webfont.woff") format("woff"), url("../fonts-matrice/matrice-font-kit/matrice_regular-webfont.woff2") format("woff2");
  font-family: 'matriceregular';
  font-weight: regular;
  font-style: normal;
}

@font-face {
  src: url("../fonts-matrice/matrice-font-kit/matrice_semibold-webfont.woff") format("woff"), url("../fonts-matrice/matrice-font-kit/matrice_semibold-webfont.woff2") format("woff2");
  font-family: 'matricesemibold';
  font-weight: semibold;
  font-style: normal;
}

.loading-screen {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin-top: -70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  color: #FFF;
}

.heading {
  font-size: 70px;
  margin-bottom: 40px;
  opacity: 0;
  font-weight: 400;
}

.sub-heading {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 40px;
  opacity: 0;
}

.loader-wrapper {
  height: 2px;
  width: 150px;
  background: #a0a0a0;
  border-radius: 100px;
  opacity: 0;
}

.loader {
  height: 2px;
  width: 150px;
  background: #ff5100;
  border-radius: 100px;
}

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #000000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.nav-link {
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
  color: #ffffff;
}

.nav-link:hover {
  background: #ff3c00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  opacity: 0;
  top: 4rem;
  right: 3rem;
  width: 15rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1500;
  -webkit-transition: -webkit-transform 650ms ease-out;
  transition: -webkit-transform 650ms ease-out;
  transition: transform 650ms ease-out;
  transition: transform 650ms ease-out, -webkit-transform 650ms ease-out;
}

.menu-toggler img {
  width: 14rem;
}

.menu-toggler.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.logo {
  opacity: 0;
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 15rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  width: 15rem;
}

.background {
  width: 100%;
  height: 70vh;
  opacity: 0;
}

.background img {
  width: 53%;
}

.landing-page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 27%;
  width: 100%;
  height: 70vh;
}

.landing-page .scroll-bar {
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 10%;
  margin-left: 5rem;
  margin-bottom: 2%;
}

.landing-page .scroll-bar img {
  width: 7%;
}

.landing-page .welcome-img {
  opacity: 0;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin-left: 6rem;
}

.landing-page .welcome-img img {
  width: 78%;
}

.about .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.about-details {
  margin-top: 1rem;
  margin-left: 14rem;
  margin-right: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-details p {
  width: 75%;
  line-height: 2.2;
  margin-bottom: 3rem;
}

.about-heading {
  margin-bottom: 7rem;
}

.about-heading img {
  width: 70%;
}

.lets-chat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-background {
  width: 67%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 6rem;
  right: 1.8rem;
}

.about-background img {
  width: 100%;
}

.profile-img {
  margin-top: 1rem;
}

.profile-img img {
  width: 75%;
}

.social-media {
  margin-top: 2rem;
  width: 100%;
}

.social-media ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

.social-media li {
  margin-right: -8rem;
}

.social-media a {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  text-decoration: none !important;
}

.social-list {
  width: 60%;
}

.icon-link:hover {
  color: #ff5100;
}

.section-heading {
  margin-top: 1rem;
  margin-left: 14rem;
}

.section-heading img {
  width: 52%;
}

.skill-background {
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: -90px;
}

.skill-background img {
  width: 100%;
}

.my-skills {
  position: relative;
  margin-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  pading: 2rem 2px 2rem 0;
  width: 70%;
}

.skill h3 {
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.skill p {
  max-width: 100%;
  line-height: 1.8;
  margin-top: 2.5rem;
}

.skill .view-more-link {
  max-width: 100%;
  text-align: end;
  color: #ff5100;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 350;
}

.market-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 298.66px;
  height: 236.91px;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
          box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
}

.market-container .market-container:hover {
  -webkit-transform: translateX(-1.75rem);
          transform: translateX(-1.75rem);
}

.market-container img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-transform-origin: 90% center;
          transform-origin: 90% center;
}

.market-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 298.66px;
  height: 434.02px;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
          box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
}

.project-container .project-container:hover {
  -webkit-transform: translateX(-1.75rem);
          transform: translateX(-1.75rem);
}

.project-container img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-transform-origin: 90% center;
          transform-origin: 90% center;
}

.project-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.designer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 298.66px;
  height: 482.25px;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
          box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
}

.designer-container .designer-container:hover {
  -webkit-transform: translateX(-1.75rem);
          transform: translateX(-1.75rem);
}

.designer-container img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-transform-origin: 90% center;
          transform-origin: 90% center;
}

.designer-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.marketing {
  margin-top: 12rem;
}

.designer {
  margin-top: 6rem;
}

.portfolio-heading {
  margin-top: 13rem;
  margin-left: 8rem;
  margin-bottom: 2rem;
}

.portfolio-heading img {
  width: 80%;
}

.portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.portfolio-item .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460.8px;
  height: 328.86px;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
          box-shadow: -5px 7px 25px 0px rgba(0, 0, 0, 0.48);
}

.portfolio-item .project:hover {
  -webkit-transform: translateX(-1.75rem);
          transform: translateX(-1.75rem);
}

.portfolio-item img {
  width: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
  -webkit-transform-origin: 90% center;
          transform-origin: 90% center;
}

.portfolio-item img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.details {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 460px;
}

.details p {
  font-size: 1.8rem;
  color: #ff4800;
}

.details a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
  color: #ff4800;
}

.details a:hover {
  color: #000000;
}

.details-left {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 460px;
}

.details-left p {
  font-size: 1.8rem;
  color: #ff4800;
}

.details-left a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: underline;
  color: #ff4800;
}

.details-left a:hover {
  color: #000000;
}

.portfolio-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.portfolio-description h3 {
  font-size: 4.1rem;
  width: 72%;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.portfolio-description h4 {
  font-size: 1.9rem;
  width: 72%;
  color: #ff4800;
  margin-bottom: 4rem;
}

.portfolio-description p {
  width: 72%;
  line-height: 2;
}

.cursor {
  position: absolute;
  background: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 100;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../images/hover-mouse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.cursor.active {
  opacity: 1;
  -webkit-transform: scale(12);
          transform: scale(12);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background: rgba(95, 95, 95, 0.363);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 100;
  -webkit-transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  -webkit-transform: scale(0);
          transform: scale(0);
}
/*# sourceMappingURL=style.css.map */